<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- Custom styles for webcomic -->
    <link rel="stylesheet" href={{ site.url }}/css/main.css>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cute+Font|Jolly+Lodger|Montserrat|Nixie+One|Offside|Karla&effect=anaglyph">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <title>{{ site.tab_title }}</title>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <!-- Navbar -->
        <div id="navbarblack">
          <ul class="nav">
              <li><a href={{ site.url }}/>HOME</a></li>
              <li><a href={{ site.url }}/001>READ</a></li>
              <li><a href={{ site.url }}/about>ABOUT</a></li>
              <li><a href={{ site.url }}/archive>ARCHIVE</a></li>
          </ul>

        </div>
        <img id="turn" src="images/circl.png" class="center">
        <img id="banner" src="images/banner.png">
        <p>and other horror stories	&nbsp;	&nbsp;	&nbsp;</p>
      </div>
    </div><!-- end jumbotron -->

    <div class="container">

      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="info">
              <div class="font-effect-anaglyph">
                <p class="lead">The Memoscope is a collection of short horror comics written by NB Clegg.</p>
                <p class="lead">Follow @memoscope on Twitter for updates.</p>
                <br>
                <p class="lead"><i class="fas fa-eye"></i></p>
              </div>
            </div><!-- end info -->

          </div>

        </div><!-- end row 1-->

        <div class="row justify-content-md-center">
          <div class="col-md-6">
            <h2>Stories</h2>

            <h3>The Magazine</h3><span class="badge badge-warning">Complete</span>
            <p>An autobiographical comic about a scary dream.</P>
            <a href="{{ site.url }}001" class="btn btn-outline-primary" role="button">Read it</a>

            <h3>The Sacker Street Ghost</h3><span class="badge badge-success">In Progress</span>
            <p>Two teens record their ghost-hunting podcast on an abandoned road.</p>
            <a href="{{ site.url }}014" class="btn btn-outline-primary" role="button">First page</a>
            <a href="{{ site.url }}021" class="btn btn-outline-primary" role="button">Latest update</a>

            <h3>Self Portrait</h3><span class="badge badge-light">Planned</span>
            <p>A woman deals with her girlfriend's creepy self portrait</p>

          </div> <!-- end column -->

        </div><!-- end row -->
      </div><!-- end content -->

    </div><!-- end container -->





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% include footer.html %}
  </body>
</html>
